Assets/microfinanzas-scorm/adlcp_rootv1p2.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://www.adlnet.org/xsd/adlcp_rootv1p2" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:adlcp="http://www.adlnet.org/xsd/adlcp_rootv1p2" 
            elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      ADL SCORM 1.2 Extensions to the IMS Content Packaging 1.1.2 Schema
    </xsd:documentation>
  </xsd:annotation>

  <xsd:attribute name="scormtype">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="asset"/>
        <xsd:enumeration value="sco"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>

  <xsd:attribute name="prerequisites" type="xsd:string"/>
  <xsd:attribute name="maxtimeallowed" type="xsd:string"/>
  <xsd:attribute name="timelimitaction" type="xsd:string"/>
  <xsd:attribute name="datafromlms" type="xsd:string"/>
  <xsd:attribute name="masteryscore" type="xsd:string"/>

</xsd:schema>